# macOS
.DS_Store
.AppleDouble
.LSOverride

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/build/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec

# Backend / Laravel
backend/vendor/
backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log
backend/.env
backend/.phpunit.result.cache
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/database/*.sqlite-journal

# IDEs
.idea/
.vscode/
*.swp
*.swo
